// =============================================================================
// Kelly Theme Styles
// =============================================================================


.case__section {
	padding: 5em 0;
	background-color: $light-grey ;
	&.cellcollective {
		border-bottom: $grey;
	}
	&.grubstake {
		border-bottom: $navy;
	}
	&.sojern {
	border-bottom: $navy;
	}	
	&.paycrave {
	border-bottom: $navy;
	}
	&.lifeio {
	border-bottom: $navy;
	}
	&.artistry {
	border-bottom: $navy;
	}
	&.passion {
	border-bottom: $navy;
	}
	&.chaos {
	border-bottom: $navy;
	}
}

.section__break {
	padding-top: em(50px);
	padding-bottom: em(50px);
	opacity: 0.2; 
}


.section__about {
	padding-top: em(50px);
	padding-bottom: em(50px);
}

.fullcallout {
	background-position: 0 -220px !important;
    background-repeat: repeat;
    opacity: 0.2;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

