// ==========================================================================
// Base Styles
// ==========================================================================

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: $grey;
  	font-size: $base__font-size;
  	font-family: $font-family--secondary;
  	line-height: ($base__line/$base__font-size);
}
body ::selection, body -moz::selection {
	color: $fountain-blue;
}

// Text

h1 {
	@extend %hdln-prim;
	border-bottom: em(1.5px) solid $color-primary;
}

h2 {
	@extend %hdln-sec;
}

h2.main {
	color: $color-accent;
	text-align: center;
}

h3 {
	font-size: em(20px);
	line-height: (32px/18px);
	color: $grey;
	text-align: center;
}

h4 {
	@include mq(medium) {
		margin-top: em(42px);
	}
	margin-top: em(22px);
	margin-bottom: em(10px);
	color: $black;
	text-transform: uppercase;
	letter-spacing: $letter-space;
	font-weight: $font-weight--medium;
	font-size: em(22px);
}

h4.Heading-blog {
	margin-bottom: em(5px);
}

h5 {
	font-weight: $font-weight--ultra-bold;
	font-size: em(22px);
	color: $color-primary;	
	margin-bottom: em(20px);
	margin-top: 0;
}

a {
	color: $color-primary; 
	text-decoration: none;
	font-weight: $font-weight--medium;
}

a.Primary-italics {
	font-family: font-family--italic;
}
p {
	margin: 0 0 em(30px, 18px);
	font-family: $font-family--secondary;
	font-weight: $font-weight--thin;
	font-size: em(18px);
	line-height: (32px/18px);
}

blockquote {
	@include mq(medium) {
		margin: em(32px, 24px) 0;
		padding: 0 0 0 5%;
		border-left: em(8px, 24px) solid $fountain-blue; 
		font-size: em(34px);
	}
	font-family: $font-family--italic;
	font-size : em(22px);
}

// Lists

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: $font-weight--light;
	font-size: em(18px);
	line-height: (27px/18px);
	text-align: center;
}

ol li {
  	font-weight: $font-weight--light;
	font-size: em(18px);
	line-height: (27px/18px);
	list-style-type: circle;
	text-align: left;
}

ul.List--blog li:first-child {
	float: left;
	margin: em(10px);
}

ul.List--blog li:last-child {
	float: right;
}

// Images

img {
  margin-bottom: em(100px);
  margin-top: em(40px);
  max-width: 100%;
  height: auto;
  	@include mq(small) {
  		margin-bottom: em(20px);
  	}

}

// Form elements

input, 
textarea {
	display: block;
	padding: 15px;
	width: 100%; 
	outline: 0;
	border: 0;
}

input:focus, 
textarea:focus {
	transition: $trns_duration;
}

// Button

button {
	outline: 0;
}

// Footer

footer {
	p {
		font-size: em(16px);
		margin-top: em(22px, 16px);
		text-align: center;
		color: $black;
	}
	li a {
		color: $black;
	}
}

.case__container {
	padding-top: em(50px);
	padding-bottom: em(50px);
	margin-bottom: 0;
	ul {
		display: inline-block;
		vertical-align: top;
		color: $black;
		text-align: center;
		margin: 0 em(20px, 10px);
		@include mq(small) {
			display: block;
			margin-top: em(20px, 10px)
		}
	}
	li a {
		color: $black;
		font-size: em(14px);
	}
	li a:hover {
		color: $color-secondary;
	}
}
