// ==========================================================================
// Headlines
// ==========================================================================

.headline {

	&-primary {
		@extend %hdln-prim;
		@include m(grouped) {
			@extend %hdln-prim;
		}
	}

 	&-secondary {
		@extend %hdln-sec;
		margin-bottom: em(0px, 10px);

		@include m(grouped) {
			@extend %hdln-sec;
			margin-top: em(10px, 24px);
	 		margin-bottom: em(54px, 24px);
		}		
	}

}
